html,
body,
div,
span,
p {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button {
	cursor: pointer;
}

body {
	display: flex;
	justify-content: center;

	margin-top: 200px;
	/* align-items: center; */

	background: url(../img/black-orchid.png);
	background-color: #312d36;
}

#add-task-container {
	display: flex;
	width: 500px;
	max-width: 500px;

	padding: 30px 20px;
	border-radius: 15px;
	margin-bottom: 20px;

	background-color: white;
	box-shadow: 0 0 3px;
}

input {
	flex: 5;
	height: 40px;

	margin-right: 5px;
	border-radius: 10px;
	padding: 5px 15px;

	font-size: 1.5rem;

	border: rgba(0, 0, 0, 0.3) solid 1px;
}

input:focus {
	color: #000;
	outline: none;
}

input::placeholder {
	color: grey;
}

input:focus::placeholder {
	color: transparent;
}

#add-task {
	flex: 0.5;
	padding: 5px;

	color: green;
	border: green solid 2px;
	border-radius: 10px;

	transition: 0.3s;

	font-size: 1.2rem;
	background-color: white;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
}

#add-task:hover {
	color: #fff;
	background-color: green;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
}

#task-container {
	max-width: 470px;

	margin: 0 auto;
}

.task {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 10px;
	margin-bottom: 15px;

	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 3px;
	transition: box-shadow 0.2s;
}

.task:hover {
	-webkit-box-shadow: 0px 10px 27px -6px rgba(255,255,255,0.89); 
box-shadow: 0px 10px 27px -6px rgba(255,255,255,0.89);
}

.task span {
	flex: 5;
	padding: 5px;
	overflow: hidden;

	font-size: 1.2rem;
	text-decoration: none;
}

.task button {
	flex: 0.5;

	border-radius: 10px;
	background-color: #fff;
}

.task .check-task {
	margin-right: 5px;

	transition: 0.3s;

	color: orange;
	border: orange solid 2px;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
}

.task .check-task:hover {
	color: #fff;
	background-color: orange;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
}

.task .delete-task {
	transition: 0.3s;

	color: crimson;
	border: crimson solid 2px;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.3);
}

.task .delete-task:hover {
	color: #fff;
	background-color: crimson;
	box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.7);
}

div.line-through span {
	text-decoration: line-through;
}
